.tabbed-carousel__nav {
    position: relative;
    z-index: 3;
    height: 100px;
    border: 1px solid #dfe3e8;
    border-radius: 5px
}
@media screen and (max-width: 46.8125em) {
    .tabbed-carousel__nav {
        display: none
    }
}
.tabbed-carousel__nav.grid-container--thirds .tabbed-carousel__nav-item {
    width: 33.33%
}
.tabbed-carousel__nav-item {
    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    height: 98px;
    width: 25%;
    float: left;
    padding-top: 15px;
    background-color: #f4f6f8;
    text-align: center;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}
.tabbed-carousel__nav-item::before,
.tabbed-carousel__nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 49px solid transparent;
    border-left-width: 24px;
    border-left-style: solid;
    border-left: 24px solid #dfe3e8;
    border-bottom: 49px solid transparent;
    -webkit-transition: border-color 300ms ease;
    transition: border-color 300ms ease
}
.tabbed-carousel__nav-item::before {
    border-left-color: #dfe3e8
}
.tabbed-carousel__nav-item::after {
    left: -1px;
    border-left-color: #f4f6f8
}
.tabbed-carousel__nav-item:first-child {
    padding-left: 0
}
.tabbed-carousel__nav-item:first-child::before,
.tabbed-carousel__nav-item:first-child::after {
    display: none
}
.tabbed-carousel__nav-item .icon {
    display: block;
    margin: 0 auto 10px;
    fill: #919ea9
}
.tabbed-carousel__nav-item:focus,
.tabbed-carousel__nav-item:hover,
.tabbed-carousel__nav-item.js-is-active {
    background: #fff
}
.tabbed-carousel__nav-item:focus .icon,
.tabbed-carousel__nav-item:hover .icon,
.tabbed-carousel__nav-item.js-is-active .icon {
    fill: #5e6ebf
}
.tabbed-carousel__nav-item:focus+.tabbed-carousel__nav-item::after,
.tabbed-carousel__nav-item:hover+.tabbed-carousel__nav-item::after,
.tabbed-carousel__nav-item.js-is-active+.tabbed-carousel__nav-item::after {
    border-left-color: #fff
}
.tabbed-carousel__nav-item.js-is-active {
    color: #000
}
.tabbed-carousel__nav-item:focus {
    outline: none;
    border-bottom: solid 1px
}
.pricing-plan {
    position: relative;
    border: 1px solid #dfe3e8;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: border-color 300ms;
    transition: border-color 300ms
}
@media screen and (max-width: 46.8125em) {
    .pricing-plan {
        margin-bottom: 2.8125em
    }
    .pricing-plan:first-child {
        margin-bottom: 3.75em
    }
    .pricing-plan:last-child {
        margin-bottom: 0
    }
}
.pricing-plan__superhead {
    position: absolute;
    top: -22px;
    left: -1px;
    right: -1px;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe3e8;
    border-radius: 5px 5px 0 0;
    line-height: 44px
}
.pricing-plan__header {
    padding: 2.8125em 1.875em 1.875em;
    background: #f4f6f8
}
@media screen and (max-width: 46.8125em) {
    .pricing-plan__header {
        padding: 1.875em 1.5625em
    }
}
.pricing-plan__price {
    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 4.5em;
    line-height: 1em;
    color: #000
}
.pricing-plan__price>sup {
    font-weight: 500;
    font-size: 0.30556em;
    line-height: 2.04545em;
    vertical-align: top
}
.pricing-plan__price>abbr {
    font-weight: 300;
    font-size: 0.6em;
    margin-right: -0.25em
}
.pricing-plan__price>span {
    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.33333em
}
.pricing-plan__rates {
    font-size: 0.875em
}
.pricing-plan__rates>li {
    margin-bottom: 0.53333em
}
.pricing-plan--addon {
    text-align: center
}
.pricing-disclaimer {
    margin: 0.9375em 0 0;
    text-align: center;
    color: #454f5b;
    font-size: 0.875em
}
@media screen and (min-width: 46.875em) {
    .pricing-disclaimer {
        padding: 0 3.75em
    }
}
.pricing-plan__disclaimer {
    margin-bottom: 0
}
.pricing-plan__more {
    padding: 0.9375em;
    border-top: 1px solid #dfe3e8
}
.pricing-plan__more>p {
    margin-bottom: 5px
}
.pricing-plan__tooltip {
    display: inline-block;
    padding-right: 30px
}
.pricing-plan__tooltip::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2040%2040%22%3E%3Cpath%20d=%22M20%2040C8.972%2040%200%2031.028%200%2020S8.972%200%2020%200s20%208.972%2020%2020-8.972%2020-20%2020zm0-38C10.075%202%202%2010.075%202%2020s8.075%2018%2018%2018%2018-8.075%2018-18S29.925%202%2020%202z%22/%3E%3Ccircle%20cx=%2220%22%20cy=%2211%22%20r=%221.75%22/%3E%3Cpath%20d=%22M20%2032c-.552%200-1-.448-1-1V16c0-.552.448-1%201-1s1%20.448%201%201v15c0%20.552-.448%201-1%201z%22/%3E%3C/svg%3E");
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -0.5em;
    width: 1em;
    height: 1em;
    content: ''
}
.pricing-plan__rates .pricing-plan__tooltip::after {
    top: 0;
    margin-top: 0.1875em
}
.pricing-plan__tooltip .popover {
    font-family: 'ShopifySans', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 13px;
    line-height: 1.5em
}
@media screen and (max-width: 46.8125em) {
    .pricing-faq__heading {
        border-bottom: 1px solid #dfe3e8;
        padding-bottom: 12px
    }
}
.pricing-table {
    width: 100%;
    margin: 30px 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-text-size-adjust: 100%
}
@media screen and (min-width: 46.875em) {
    .pricing-table {
        margin-top: 60px
    }
}
.pricing-table caption {
    position: static
}
.pricing-table th,
.pricing-table td {
    padding: 10px 15px;
    border: 1px solid #dfe3e8
}
@media screen and (max-width: 46.8125em) {
    .pricing-table th.js-is-hidden,
    .pricing-table td.js-is-hidden {
        display: none;
        visibility: hidden
    }
}
.pricing-table th {
    background-color: #f4f6f8;
    font-weight: normal
}
.pricing-table th[scope="row"] {
    background-color: transparent
}
.pricing-table thead th {
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px
}
@media screen and (max-width: 46.8125em) {
    .pricing-table thead th:first-child {
        display: none
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .pricing-table thead th {
        padding-left: 5px;
        padding-right: 5px
    }
}
.pricing-table tbody a {
    border-bottom: 1px dotted
}
.pricing-table tbody a:hover,
.pricing-table tbody a:focus {
    color: #000
}
.pricing-table tbody th {
    text-align: left
}
.pricing-table tbody td {
    text-align: center;
    width: 45%
}
@media screen and (min-width: 46.875em) {
    .pricing-table tbody th {
        width: 33.33333%
    }
    .pricing-table tbody td {
        width: 16.66667%
    }
}
@media screen and (min-width: 67.5em) {
    .pricing-table tbody tr:hover th:not([scope="col"]),
    .pricing-table tbody tr:hover td {
        background-color: #f4f6f8
    }
}
.pricing-table tfoot td {
    padding: 15px 0 0;
    border: 0;
    text-align: center
}
@media screen and (min-width: 46.875em) {
    .pricing-table tfoot td {
        padding-top: 30px
    }
}
.pricing-table .pricing-table__section-heading,
.pricing-table p {
    margin: 0
}
.pricing-table th p:not(.heading--4),
.pricing-table tfoot p,
.pricing-table .pricing-table__feature-name,
.pricing-table .pricing-table__feature-value {
    font-size: 0.8em
}
@media screen and (min-width: 67.5em) {
    .pricing-table th p:not(.heading--4),
    .pricing-table tfoot p,
    .pricing-table .pricing-table__feature-name,
    .pricing-table .pricing-table__feature-value {
        font-size: 0.875em
    }
}
.pricing-table .pricing-table__feature-name .popover__click-trigger {
    text-align: left
}
@media screen and (max-width: 46.8125em) {
    .pricing-table .pricing-table__feature-name .popover-wrapper {
        display: block;
        width: 100%
    }
}
.pricing-table .icon--not-in-plan {
    opacity: 0.5
}
.pricing-table .icon--in-plan {
    width: 25px;
    height: 25px;
    margin: -6px 0 -7px
}
.pricing-table .price {
    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3.33333em;
    color: #30373b;
    white-space: nowrap
}
.pricing-table .price::after {
    content: '';
    display: table;
    clear: both
}
@media screen and (min-width: 67.5em) {
    .pricing-table .price {
        font-size: 2.85714em
    }
}
.pricing-table .price sup {
    margin-top: 0.75em;
    font-size: 0.3em
}
.pricing-table .price sup,
.pricing-table .price .price__number {
    display: inline-block;
    vertical-align: top
}
@media screen and (min-width: 46.875em) {
    .pricing-table__feature-value--nowrap {
        white-space: nowrap
    }
}
.plan-tabs {
    display: table;
    width: 100%;
    border-collapse: collapse
}
.plan-tabs li {
    display: table-cell;
    border-left: 1px solid #dfe3e8;
    border-right: 1px solid #dfe3e8
}
.plan-tabs__tab {
    display: block;
    width: 100%;
    padding: 1.25em 1em;
    border-top: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
    font-size: 0.78571em;
    font-weight: 700;
    text-align: center;
    white-space: nowrap
}
.plan-tabs__tab.js-is-active {
    color: #000;
    background-color: #f4f6f8
}
.plan-tabs__tab:focus {
    outline: 0
}
.plan-arrows {
    margin-bottom: 30px
}
.plan-arrows::after {
    content: '';
    display: table;
    clear: both
}
.plan-arrow {
    font-size: 0.8em;
    font-weight: 700;
    color: #5e6ebf
}
.plan-arrow::before,
.plan-arrow::after {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 0.7em;
    background-repeat: no-repeat;
    background-size: contain
}
.plan-arrow::before {
    margin-right: 0.5em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2011%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20%23000%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M5.5%200c.1%200%20.3%200%20.4.1.1.2.1.6-.1.8L1.2%205.5l4.6%204.6c.2.2.2.5%200%20.7-.2.2-.5.2-.7%200l-5-5c-.1-.2-.1-.5%200-.7l5-5c.1-.1.3-.1.4-.1z%22/%3E%3Cpath%20d=%22M.5%205h23c.2%200%20.5.2.5.5s-.3.5-.5.5H.5C.2%206%200%205.8%200%205.5S.2%205%20.5%205z%22/%3E%3C/svg%3E")
}
.plan-arrow::after {
    margin-left: 0.5em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2011%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20%23000%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M18.5%2011c-.1%200-.3%200-.4-.1-.2-.2-.2-.5%200-.7l4.6-4.6L18.1%201c-.2-.2-.2-.5%200-.7.2-.2.5-.2.7%200l5%205c.2.2.2.5%200%20.7l-5%205c-.1-.1-.2%200-.3%200z%22/%3E%3Cpath%20d=%22M23.5%206H.5C.2%206%200%205.8%200%205.5S.2%205%20.5%205h23c.2%200%20.5.2.5.5s-.3.5-.5.5z%22/%3E%3C/svg%3E")
}
.plan-arrow--prev {
    float: left
}
.plan-arrow--prev::before {
    content: ''
}
.plan-arrow--next {
    float: right
}
.plan-arrow--next::after {
    content: ''
}
.pricing-plan--addon__plus {
    width: 127px;
    height: 22px;
    margin-bottom: 0.75em
}