ul, ol{list-style:none;list-style-image:none;margin:0;padding:0;color:#858585;font-size:14px;line-height:24px;margin-bottom:20px;}
ul li, ol li{font-size:14px;line-height:28px;}
ul li i{vertical-align:middle;}
ul.features-list-dark{display:inline-block;}
ul.features-list-dark li{float:left;font-size:15px;line-height:28px;margin:1px 0;}
ul.features-list li{float:left;font-size:15px;line-height:24px;margin:12px 0;}
ul.features-list li img{max-width:55px;margin-right:20px;float:left;}
p{font-size:15px;line-height:24px;font-weight:400;color:#7c8595;margin-bottom:15px;}
a,
a:hover,
a:focus{text-decoration:none;outline:0;}
h1,
h2,
h3,
h4,
h5,
h6{font-family:'Roboto', sans-serif;line-height:1.2;margin-bottom:20px;color:#2F362F;}
h1{font-size:42px;}
h2{font-size:34px;}
h3{font-size:28px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}
h2.section-title{font-size:32px;line-height:38px;margin:0 0 15px 0;}
h2.section-title.grey{color:#ddd;}
h2.large-title{margin-bottom:15px;font-size:40px;font-weight:500;}
p.section-subtitle{font-size:16px;}
p.section-subtitle-large{font-size:18px;line-height:26px;margin-bottom:30px;}
p.section-subtitle.grey{color:#bbb;}
.separator_wrapper, .separator_wrapper_white{margin-bottom:10px;}
.separator_wrapper::after, .separator_wrapper::before{background-color:#3498db;display:inline-block;vertical-align:middle;content:"";width:60px;height:1px;margin-top:-6px;}
.separator_wrapper_white::after, .separator_wrapper_white::before{background-color:#ddd;display:inline-block;vertical-align:middle;content:"";width:60px;height:1px;margin-top:-6px;}
h3.medium-title{font-size:32px;margin-top:10px;}
iframe{max-width:100%;border:none;}
.width-100{width:100%;}
.medium{font-weight:400;}
.bold{font-weight:700;}
.lyla{color:#9E5FBA;}
.green{color:#16A085;}
.blue{color:#3498db;}
.red{color:#e74c3c;}
.grey{color:#ddd;}
.white{color:#fff;}
.section-white{background-color:#fff;border-top:1px solid #eaeaea;padding:90px 0;}
.section-grey{background-color:#f6f7f8;border-top:1px solid #eaeaea;padding:90px 0;}
.section-grey-small{background-color:#f6f7f8;border-top:1px solid #eaeaea;padding:20px 0;}
.section-blue{background-color:#3498db;padding:90px 0;}
.section-hero{background-color:transparent;padding:0;}
.section-blue.cta-padding{padding:20px 0;}
.section-red{background-color:#e74d3d;padding:90px 0;}
.section-green{background-color:#3CB371;padding:90px 0;}
.section-seagreen{background-color:transparent;padding:90px 0;}
.section-lightgreen{background-color:#90EE90;padding:90px 0;}
.section-grey.small-padding, .section-white.small-padding, .section-blue.small-padding, .section-light-blue.small-padding{padding:40px 0;}
.section-grey.medium-padding, .section-white.medium-padding, .section-dark.medium-padding, .section-blue.medium-padding, .section-light-blue.medium-padding{padding:60px 0;}
.section-grey.no-padding-bottom, .section-white.no-padding-bottom, .section-dark.no-padding-bottom, .section-blue.no-padding-bottom{padding:90px 0 0 0;}
.section-grey.small-padding-bottom, .section-white.small-padding-bottom, .section-dark.small-padding-bottom, .section-blue.small-padding-bottom{padding:90px 0 50px 0;}
.section-grey.no-padding, .section-white.no-padding, .section-dark.no-padding, .section-blue.no-padding{padding:0;}
.section-white.about-padding{padding:85px 0 100px 0;}
.section-white.team-padding{padding:40px 0 0 0;}
.section-white.case-studies-padding, .section-grey.case-studies-padding{padding:20px 0 0 0;}
.section-dark.portfolio-padding{padding:60px 0 75px 0;}
.section-dark{background-color:#393f43;padding:90px 0;}
.no-padding{padding:0;}
.no-padding-left{padding-left:0;}
.no-padding-right{padding-left:0;}
.small-padding-left{padding-left:5px;}
.small-padding-right{padding-right:5px;}
.margin-right-25{margin-right:25px !important;}
.margin-top-110{margin-top:110px !important;}
.margin-top-100{margin-top:100px !important;}
.margin-top-90{margin-top:90px !important;}
.margin-top-80{margin-top:80px !important;}
.margin-top-60{margin-top:60px !important;}
.margin-top-50{margin-top:50px !important;}
.margin-top-40{margin-top:40px !important;}
.margin-top-35{margin-top:35px !important;}
.margin-top-30{margin-top:30px !important;}
.margin-top-20{margin-top:20px !important;}
.margin-top-10{margin-top:10px !important;}
.margin-top-5{margin-top:5px !important;}
.margin-bottom-0{margin-bottom:0px !important;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-bottom-30{margin-bottom:30px !important;}
.margin-bottom-40{margin-bottom:40px !important;}
.margin-bottom-50{margin-bottom:50px !important;}
.margin-bottom-60{margin-bottom:60px !important;}
.margin-bottom-70{margin-bottom:70px !important;}
.margin-bottom-80{margin-bottom:80px !important;}
.margin-bottom-100{margin-bottom:100px !important;}
.margin-bottom-120{margin-bottom:120px !important;}
.margin-bottom-130{margin-bottom:120px !important;}
.margin-bottom-140{margin-bottom:140px !important;}
.padding-top-0{padding-top:0px !important;}
.padding-top-10{padding-top:10px !important;}
.padding-top-20{padding-top:20px !important;}
.padding-top-25{padding-top:25px !important;}
.padding-top-30{padding-top:30px !important;}
.padding-top-40{padding-top:40px !important;}
.padding-top-45{padding-top:45px !important;}
.padding-top-50{padding-top:50px !important;}
.padding-top-60{padding-top:60px !important;}
.padding-top-70{padding-top:70px !important;}
.padding-top-80{padding-top:80px !important;}
.padding-top-100{padding-top:180px !important;}
.padding-bottom-70{padding-bottom:70px !important;}
.padding-bottom-60{padding-bottom:60px !important;}
.padding-bottom-50{padding-bottom:50px !important;}
.padding-bottom-40{padding-bottom:40px !important;}
.padding-bottom-30{padding-bottom:30px !important;}
.padding-bottom-20{padding-bottom:20px !important;}
.padding-bottom-10{padding-bottom:10px !important;}
.padding-bottom-0{padding-bottom:0px !important;}
.margin-top-0{margin-top:0px !important;}
.carousel.carousel1 .carousel-indicators{position:inherit;right:0px;}
.carousel.carousel1 .item .lead{font-size:20px;}
.carousel.carousel1 .carousel-indicators li{background-color:#e0e0e0;width:16px;height:16px;}
.carousel.carousel1 .carousel-indicators li.active{background-color:#3498db;}
.carousel.carousel3 .carousel-indicators{position:inherit;right:0px;}
.carousel.carousel3 .item .lead{font-size:20px;}
.carousel.carousel3 .carousel-indicators li{background-color:#f9f9f9;width:16px;height:16px;}
.carousel.carousel3 .carousel-indicators li.active{background-color:#3498db;}
.carousel.carousel-fade .item{-webkit-transition:opacity 0.5s ease-in-out;-moz-transition:opacity 0.5s ease-in-out;-ms-transition:opacity 0.5s ease-in-out;-o-transition:opacity 0.5s ease-in-out;transition:opacity 0.5s ease-in-out;opacity:0;}
.carousel.carousel-fade .active.item{opacity:1;}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right{left:0;z-index:2;opacity:0;filter:alpha(opacity=0);}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev{left:0;z-index:1;}
.carousel.carousel-fade .carousel-control{z-index:3;}
.carousel-indicators{bottom:auto;left:auto;margin:0;right:16px;top:16px;width:auto;line-height:8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.carousel-indicators li{vertical-align:top;border:none;width:8px;height:8px;margin:0 0 0 6px;background-color:#2c3e50;background-color:rgba(44, 62, 80, 0.5);}
.carousel-indicators li.active{background-color:#fff;width:8px;height:8px;margin:0 0 0 6px;}
.popup-wrapper{display:block;position:relative;overflow:hidden;}
.popup-gallery{display:inline-block;position:relative;}
.first-gallery{margin-bottom:15px;}
.popup-gallery img{position:relative;z-index:10;width:100%;height:auto;}
.popup-gallery:hover img{opacity:0.25;}
.popup-gallery a span.eye-wrapper,
.popup-gallery a span.eye-wrapper2{background-color:#000;position:absolute;display:block;overflow:hidden;z-index:2;height:100%!important;top:0%;margin-top:0px;left:0%;right:0%;font-size:22px;color:#fff;text-align:center;font-weight:300;opacity:0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.popup-gallery-rounded a span.eye-wrapper,
.popup-gallery-rounded a span.eye-wrapper2{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.popup-gallery a span.eye-wrapper i.eye-icon, .popup-gallery a span.eye-wrapper2 i.eye-icon{position:absolute;display:inline-block;font-size:38px;z-index:3;top:50%!important;margin-top:-19px!important;left:0%;right:0%;}
.popup-gallery a:hover span{opacity:1;}
.popup-gallery img,
.popup-gallery a span{-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.footer{width:100%;position:relative;background-color:#353535;margin:0 auto;}
.footer-top{padding:60px 0 60px 0;border-bottom:2px dotted #999;}
.footer-bottom{padding:27px 0 55px 0;}
a.top-scroll{position:relative;padding:6px 7px 2px 7px;font-size:26px;line-height:26px;color:#999!important;background-color:transparent;border:1px solid #999;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
a.top-scroll:hover{color:#fff!important;background-color:#3498db;border:1px solid #3498db;}
.footer h4{font-size:16px;position:relative;padding-bottom:20px;color:#fff;}
.footer h4::after{position:absolute;content:"";background-color:#3498db;height:3px;width:40px;bottom:-1px;left:0;}
.footer p, .footer a{color:#ddd;}
.footer a.btn{color:#fff;}
.footer-bottom p{color:#999;}
.footer-bottom p a{font-size:16px;color:#999;text-decoration:underline;}
.footer p a:hover{color:#3498db;}
p.contact_info{margin-bottom:8px;font-size:14px;line-height:20px;}
p.contact_info a{margin-bottom:8px;font-size:14px;line-height:20px;}
p.contact_info i{font-size:18px;padding-right:5px;vertical-align:middle;}
ul.footer_social{display:block;float:right;margin:0;}
ul.footer_social li{display:inline-block;margin:0 0 10px 10px;color:#999;line-height:100%!important;}
ul.footer_social li a i{display:inline-block;padding:0;font-size:22px!important;line-height:22px!important;color:#999;transition:all .5s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
ul.footer_social li a i:hover{transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;color:#3498db;}
ul.footer-gallery{position:relative;display:block;margin:0;}
ul.footer-gallery li{display:inline-block;border:5px solid #292929;margin:5px 2px 2px 2px;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
ul.footer-gallery li.popup-gallery::after{display:none;}
ul.footer-gallery li a img{position:relative;display:inline-block;max-width:70px;}
ul.footer-list{display:block;margin:0;}
ul.footer-list li{padding:5px 0;border-bottom:1px solid #999;}
ul.footer-list li.first{padding-top:0;}
ul.footer-list li a:hover{color:#3498db;}
#logo{margin-top:0;}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown{position:static;}
.yamm .container{position:relative;}
.yamm .dropdown-menu{left:auto;}
.yamm .yamm-content{padding:20px 25px;min-width:480px;}
.yamm .dropdown.yamm-fw .dropdown-menu{left:0px;right:0px;background:#fff url(../images/dropdown-graphic.png) bottom right;background-repeat:no-repeat;background-attachment:scroll;background-position:bottom right;background-size:auto;}
.dropdown-menu li a{color:#7c8595;font-size:14px;}
.dropdown-menu li a i{color:#7c8595;font-size:15px;padding-right:4px;}
.dropdown-menu li a:hover,
.dropdown-menu li a:hover i{color:#3498db;}
.nav-title{margin-bottom:10px;color:#2F362F;font-size:16px;line-height:22px;font-weight:500;font-family:'Roboto', sans-serif;}
.nav-subtitle{color:#7c8595;font-size:13px;font-weight:400;font-family:'Roboto', sans-serif;}
.hidden-nav-item{display:none!important;}
.navbar-brand > img{max-height:65px;}
.navbar-default .navbar-nav > li > a.selected{color:#3498db;}
.dropdown-menu li a.selected,
.dropdown-menu li a.selected i{color:#3498db;}
.navbar-default .navbar-nav > li > a.purchase{position:relative;color:#3498db;background-color:transparent;border:2px solid #3498db;margin-left:15px;margin-right:-15px!important;margin-top:18px;padding:2px 20px;font-size:14px;line-height:40px;font-weight:600!important;text-transform:uppercase;webkit-border-radius:5px 5px;-moz-border-radius:5px 5px;border-radius:5px 5px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.navbar-default .navbar-nav > li > a.purchase:hover{color:#fff!important;background-color:#3498db;border:2px solid #3498db;}
#navbar-collapse-02 .current a.purchase{color:#3498db!important;background-color:#fff!important;border:1px solid #fff!important;}
.top-intro{background-color:#343434;}
ul.header_contact{margin-bottom:0;}
ul.header_contact li{padding:10px 0 0 20px;line-height:20px;display:inline-block;color:#dedede;}
ul.header_contact li i{display:inline-block;vertical-align:text-top;padding-left:5px;font-size:20px!important;color:#dedede;}
ul.header_social{display:block;margin:0!important;border-right:1px solid rgba(255, 255, 255, 0.15);}
ul.header_social li{float:left;line-height:100%!important;}
ul.header_social li a i{display:inline-block;padding:12px 12px 12px 12px;border-right:1px solid rgba(255, 255, 255, 0.15);font-size:17px!important;color:#E4F1FE;background-color:transparent;transition:all .5s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
ul.header_social li a i:hover{color:#fff;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
ul.header_social li a.twitter i:hover{background-color:#4099ff;}
ul.header_social li a.pinterest i:hover{background-color:#C92228;}
ul.header_social li a.facebook i:hover{background-color:#3b5998;}
ul.header_social li a.instagram i:hover{background-color:#6dc993;}
ul.header_social li a.skype i:hover{background-color:#00aff0;}
.breadcrumb-wrapper{background-color:#f6f7f8;border-top:1px solid #eaeaea;padding:25px 0 10px 0;}
h2.page-title{font-size:22px;font-weight:700;margin:10px 0 10px 0;}
.page-intro{background-color:#3498db;padding:90px 0;}
.features-item{margin:30px 0;text-align:center;}
.features-item h3{font-size:20px;margin-bottom:10px;}
.features-item p{padding:0 10px;}
.services-pic{max-width:120px;border-radius:50%;}
.icon-pic{max-height:72px;}
.icon-wrapper{margin-bottom:25px;width:100%;}
.features-icon{padding:18px 22px;font-size:42px;line-height:42px;display:inline-block;text-align:center;color:#fff;background-color:#3498db;-webkit-border-radius:8px 8px;-moz-border-radius:8px 8px;border-radius:8px 8px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
.services-item{margin:20px 0;}
.services-text{padding-left:90px;padding-right:20px;}
.services-text h4{font-size:18px;margin-top:2px;margin-bottom:8px;color:#454545;}
.services-icon{display:block;width:90px;height:90px;position:absolute;left:0px;top:0;text-align:center;}
.services-icon-blue, .services-icon-green, .services-icon-red, .services-icon-yellow, .services-icon-orange, .services-icon-lyla{width:80px;height:80px;padding:20px 20px;font-size:36px;line-height:38px;display:inline-block;text-align:center;color:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
.services-icon-blue{background-color:#3498db;border:1px solid #3498db;}
.services-icon-green{background-color:#1abc9c;border:1px solid #1abc9c;}
.services-icon-red{background-color:#e74c3c;border:1px solid #e74c3c;}
.services-icon-yellow{background-color:#f1c40f;border:1px solid #f1c40f;}
.services-icon-orange{background-color:#E87E04;border:1px solid #E87E04;}
.services-icon-lyla{background-color:#9B59B6;border:1px solid #9B59B6;}
.cta-wrapper h5{color:#fff;font-size:22px;margin:15px 0 5px 0;}
.cta-wrapper p{color:#fff;font-size:16px;}
.newsletter_wrapper{background:#3498db;}
.newsletter_box{width:100%;max-width:960px;margin:0 auto;padding:50px 0 50px 0;}
.newsletter_info{padding:1px 0 30px 60px;border-left:1px solid #ffffff;}
.newsletter_info h2{font-size:28px;line-height:36px;color:#fff;font-weight:400;margin-bottom:30px;}
#newsletter-form #email_newsletter{width:91%;max-width:400px;height:56px;line-height:56px;padding:0 4%;border:1px solid #ffffff;background-color:transparent;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;font-size:16px;margin:0 10px 0 0;}
#newsletter-form #submit-button-newsletter{width:140px;height:56px;background-color:#ffffff;border:1px solid #ffffff;color:#2980b9;display:inline;margin:0 5px 0 0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:14px;font-weight:700;vertical-align:top;transition:background-color .25s ease-in-out;-moz-transition:background-color .25s ease-in-out;-webkit-transition:background-color .25s ease-in-out;}
#newsletter-form #submit-button-newsletter:hover{color:#ffffff;background-color:#2980b9;border:1px solid #2980b9;transition:background-color .25s ease-in-out;-moz-transition:background-color .25s ease-in-out;-webkit-transition:background-color .25s ease-in-out;}
::-webkit-input-placeholder{color:#fff;}
:-moz-placeholder{color:#fff;}
::-moz-placeholder{color:#fff;}
:-ms-input-placeholder{color:#fff;}
p.newsletter_success_box{font-size:18px;color:#eee;font-style:italic;margin-bottom:15px;}
.portfolio-sorting{margin-bottom:50px;}
.portfolio-sorting li a{font-family:'Roboto', sans-serif;font-size:17px;line-height:1.2;font-weight:500;color:#7c8595;}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active{color:#3498db;}
.portfolio-item, .gallery-item{display:inline-block;}
.gallery-item img{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.portfolio-box,
.portfolio-box-grey{text-align:center;background-color:#fff;border-bottom:3px solid #e0e0e0;margin-bottom:20px;padding:1px 20px 12px 20px;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.portfolio-box-grey{margin-bottom:30px;background-color:#f6f7f8;border-bottom:2px solid #e0e0e0;}
.portfolio-box h3, .portfolio-box-grey h3{margin:10px 0 1px 0!important;line-height:20px;}
.portfolio-box h3 a, .portfolio-box-grey h3 a{color:#454545;font-size:18px;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
.portfolio-item h3 a:hover{color:#3498db;}
.portfolio-box p.portfolio-info{font-size:15px;font-style:italic;margin-bottom:5px;}
.portfolio-item img{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.team-item, .team-item-white{text-align:center;margin:20px 0;padding:1px 30px 15px 30px;}
.team-item h3, .team-item-white h3{margin:20px 0 1px 0!important;color:#ddd;font-size:18px;font-weight:700;text-transform:uppercase;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
.team-item-white h3{color:#454545;}
.team-item p{color:#ccc;}
.team-info{display:block;margin-bottom:0;}
.team-info p{color:#ccc;font-style:italic;}
.team-info-white p{font-style:italic;}
.team-info::after, .team-info-white::after{background-color:#3498db;display:inline-block;vertical-align:middle;content:"";width:50px;height:3px;margin-top:-20px;}
.team-img{max-width:125px;padding:6px 6px;background-color:#eaeaea;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
ul.team-icon{margin-top:15px;}
ul.team-icon li{display:inline-block;margin:0 3px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
ul.team-icon li a{margin:0;display:inline-block;padding:8px 8px;width:34px;height:34px;font-size:18px;line-height:18px;background-color:#fff;border-radius:50%;color:#fff;}
ul.team-icon li a.twitter{background-color:#4099ff;}
ul.team-icon li a.pinterest{background-color:#C92228;}
ul.team-icon li a.facebook{background-color:#3b5998;}
ul.team-icon li a.dribble{background-color:#ea4c89;}
.team-icon li a:hover{color:#dedede;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.blog-item{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;margin:30px 0 10px 0;}
.blog-item img{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.blog-item-inner{display:inline-block;padding:1px 25px 20px 25px;background-color:#f6f7f8;border-bottom:2px solid #e0e0e0;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
.blog-item-inner p{margin:15px 0 20px 0;}
h3.blog-title{margin-top:15px;margin-bottom:10px;}
h3.blog-title a{font-size:20px;color:#454545;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
h3.blog-title a:hover{color:#228798;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
a.blog-icons{color:#858585;font-size:14px;font-style:italic;margin-right:10px;padding-right:10px;border-right:1px solid #aaa;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
a.blog-icons i{color:#656565;font-size:16px;line-height:16px;vertical-align:text-bottom;}
a.blog-icons.last{border-right:none;}
a.blog-icons:hover{color:#228798;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
a.button-blog{background-color:#3498db;border:1px solid #3498db;color:#fff;display:inline-block;font-weight:400;font-size:13px;padding:10px 20px;margin:0 0 20px 0;-webkit-border-radius:3px 3px;-moz-border-radius:3px 3px;border-radius:3px 3px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
a.button-blog:hover{background-color:transparent;border:1px solid #3498db;color:#3498db;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
ul.post_info{width:100%;float:left;margin:10px 0 15px 0;clear:both;}
ul.post_info li{float:left;margin-right:12px;padding-right:12px;line-height:14px;border-right:1px solid #999;}
ul.post_info li.last{border-right:none;}
ul.post_info li a{font-size:13px;line-height:14px;color:#888;}
ul.post_info li a:hover{color:#3498db;}
.post_author{display:block;overflow:hidden;margin-bottom:50px;padding:25px 25px;background-color:#f6f7f8!important;border-bottom:2px solid #e0e0e0!important;border-radius:5px 5px!important;-webkit-border-radius:2px 2px;-moz-border-radius:2px 2px;border-radius:2px 2px;}
.post_author h5{margin-bottom:10px;}
.post_author p{margin-bottom:15px;}
.post_author_pic{float:left;margin-right:25px;width:170px;border-radius:0!important;}
ul.author_icons{display:inline-block;margin-bottom:0;}
ul.author_icons li{display:inline-block;margin:0;line-height:100%!important;}
ul.author_icons li a i{display:inline-block;font-size:22px;line-height:22px;color:#454545;margin:5px 5px;transition:all .5s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
ul.author_icons li a i:hover{transition:all .5s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;color:#3498db;}
.second_comment{padding-left:45px;}
.post_text{overflow:hidden;margin-bottom:30px;padding:20px 25px 20px 25px;background-color:#f6f7f8!important;border-bottom:2px solid #e0e0e0!important;border-radius:5px 5px!important;-webkit-border-radius:2px 2px;-moz-border-radius:2px 2px;border-radius:2px 2px;}
.post_text h5{margin-bottom:1px;}
.comments_pic{margin-right:20px;float:left;width:70px;border-radius:0!important;}
.comments_form{margin:30px 0;float:left;clear:both;}
input.comments_input{width:90%;height:44px;padding:0 20px;background-color:#f6f7f8;border:1px solid #eaeaea!important;color:#656565;font-size:14px;margin:0 0 10px 0;-webkit-border-radius:2px 2px;-moz-border-radius:2px 2px;border-radius:2px 2px;}
textarea.comments_text{width:90%;height:120px;padding:15px 20px;background-color:#f6f7f8;border:1px solid #eaeaea!important;color:#656565;font-size:14px;margin:0 0 10px 0;-webkit-border-radius:2px 2px;-moz-border-radius:2px 2px;border-radius:2px 2px;}
input.comments-submit{width:120px;height:44px;float:left;background-color:#3498db;border:2px solid #3498db;color:#fff;font-weight:500;text-transform:uppercase;font-size:13px;padding:6px 15px;margin:0 15px 0 0;-webkit-border-radius:4px 4px;-moz-border-radius:4px 4px;border-radius:4px 4px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;transition:background-color .25s ease-in-out;-moz-transition:background-color .25s ease-in-out;-webkit-transition:background-color .25s ease-in-out;}
input.comments-submit:hover{background-color:#fff;border:2px solid #3498db;color:#3498db;transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;}
.pricing-box-green, .pricing-box-blue, .pricing-box-red{margin-left:10px;margin-right:10px;margin-bottom:10px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background-color:#f9f9f9;text-align:center;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:2px solid #e5e5e5;}
.pricing-box-green:hover, .pricing-box-red:hover, .pricing-box-red:hover{box-shadow:0px 2px 20px rgba(0,0,0,0.08);}
.pricing-box-green .pricing-top, .pricing-box-blue .pricing-top, .pricing-box-red .pricing-top{padding:5px 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.pricing-box-green .pricing-top{background-color:#16A085;}
.pricing-box-blue .pricing-top{background-color:#34b1c4;}
.pricing-box-red .pricing-top{background-color:#dd624e;}
.pricing-top h3{color:#fff;font-size:20px;text-transform:uppercase;margin-bottom:10px;font-weight:700;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;}
.pricing-top .price .currency{color:#fff;font-size:20px;line-height:40px;font-weight:600;vertical-align:top;display:inline-block;}
.pricing-top .price span.number{color:#fff;font-size:30px;line-height:42px;font-weight:700;}
.pricing-top .price .month{font-size:16px;line-height:18px;font-weight:600;}
.pricing-top .price .month .blue{color:#3498db;}
.pricing-bottom{padding:0 40px 20px 40px;}
.pricing-bottom ul{list-style:none;list-style-type:none;margin:35px 0px 40px;padding:0;}
.pricing-bottom ul li{text-align:center;font-size:15px;line-height:30px;}
.btn-pricing-green{color:#fff;font-weight:600;background-color:#16A085;border:2px solid #16A085;padding:14px 0;}
.btn-pricing-green:hover{color:#16A085;background-color:transparent;border-color:#16A085;}
.btn-pricing-blue{color:#fff;background-color:#34b1c4;border:2px solid #34b1c4;padding:14px 0;font-weight:600;}
.btn-pricing-blue:hover{color:#34b1c4;background-color:transparent;border:2px solid #34b1c4;}
.btn-pricing-red{color:#fff;font-weight:600;background-color:#dd624e;border:2px solid #dd624e;padding:14px 0;}
.btn-pricing-red:hover{color:#dd624e;background-color:transparent;border-color:#dd624e;}
iframe.contact-maps{padding:10px 10px;border-radius:8px;background-color:#f6f7f8;border:1px solid #eaeaea!important;}
#contact-form{margin:0 auto;width:100%;max-width:960px;text-align:center;margin-bottom:10px;}
input.contact-input{width:100%;height:55px;padding-left:2%;padding-right:2%;margin-bottom:15px;color:#656565;background-color:#f6f7f8;border:1px solid #eaeaea!important;font-size:14px;float:left;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
textarea{height:155px;margin-bottom:15px;width:100%;padding-left:2%;padding-right:2%;padding-top:10px;padding-bottom:10px;color:#656565;background-color:#f6f7f8;border:1px solid #eaeaea!important;font-size:14px;float:left;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
input.contact-submit, input.analysis-submit{color:#fff;border:2px solid #3498db;background-color:#3498db;cursor:pointer;display:block;font-size:14px;font-weight:600;margin-top:10px;padding:16px 30px;position:relative;text-transform:uppercase;-webkit-border-radius:3px 3px;-moz-border-radius:3px 3px;border-radius:3px 3px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
input.contact-submit:hover, input.analysis-submit:hover{color:#3498db;background-color:transparent;border:2px solid #3498db;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
input.analysis-submit{display:inline-block;}
input.white-input::-webkit-input-placeholder,
textarea.white-input::-webkit-input-placeholder{color:#7c8595;}
input.white-input:-moz-placeholder,
textarea.white-input:-moz-placeholder{color:#7c8595;}
input.white-input::-moz-placeholder,
textarea.white-input::-moz-placeholder{color:#7c8595;}
input.white-input:-ms-input-placeholder,
textarea.white-input:-ms-input-placeholder{color:#7c8595;}
#contact-form input.contact-input:focus, #contact-form textarea.contact-commnent:focus{border-color:#fff;outline:none;}
p.contact_success_box{display:inline-block;color:#fff;font-size:20px;font-style:italic;padding:20px 20px;border:1px solid #fff;webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.section_features{width:100%;max-width:1140px;margin:0 auto;padding:20px 0 0 0;position:relative;overflow:hidden;z-index:1;}
.no-padding{padding:0;}
.wrapper-inner{display:inline-block;width:100%;max-width:585px;padding:40px 0 40px 35px;}
.portfolio-pic{margin-bottom:30px;}
.btn, btn:hover{-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.btn-margin{display:inline-block;margin:10px 10px;}
.btn-white{color:#454545;background-color:#fff;border-color:#fff;}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white{color:#fff;background-color:transparent;border-color:#fff;}
.btn-white-big{color:#454545;background-color:#fff;border-color:#fff;padding:20px 30px;font-size:16px;}
.btn-white-big:hover,
.btn-white-big:focus,
.btn-white-big:active,
.btn-white-big.active,
.open .dropdown-toggle.btn-white-big{color:#fff;background-color:transparent;border-color:#fff;}
.btn-white-transparent{color:#fff;background-color:transparent;border-color:#fff;}
.btn-white-transparent:hover,
.btn-white-transparent:focus,
.btn-white-transparent:active,
.btn-white-transparent.active,
.open .dropdown-toggle.btn-white-transparent{color:#454545;background-color:#fff;border-color:#fff;}
.btn-small-blue{color:#fff;font-weight:600;background-color:#3498db;border:2px solid #3498db;padding:12px 25px;}
.btn-small-blue:hover{color:#3498db;background-color:transparent;border-color:#3498db;}
.btn-blue{background-color:#3498db;position:relative;display:inline-block;text-align:center;color:#fff;}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue{color:#fff;background-color:#2980b9;}
.btn-green{background-color:#1BBC9B;position:relative;display:inline-block;text-align:center;color:#fff;}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green{color:#fff;background-color:#1BBC9B;}
.btn-blue.small{padding:16px 28px;}
.btn-blue.xsmall{padding:14px 20px;font-size:14px;text-transform:none;}
.btn-blue.xlarge, .btn-green.xlarge{margin:10px 10px;padding:14px 26px 12px 26px;text-transform:none;font-size:16px;font-weight:500;}
.btn-blue.xlarge i, .btn-green.xlarge i{padding-right:8px;vertical-align:middle;font-size:20px;}
.partners-wrapper{position:relative;margin:0 auto;width:100%;max-width:1140px;}
.partners-item{padding:50px 0;text-align:center;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
.partners-item.no-border-bottom{border-bottom:none;}
.partners-item.last{border-right:none;}
.partners-item img{opacity:0.4;margin:10px 25px;max-height:36px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.partners-item img:hover{opacity:1;}
.section-grey.sponsors-padding{padding:30px 0;}
.section-grey.sponsors-padding-small{padding:25px 0;}
.sponsors img.sponsor{opacity:0.4;margin:10px 23px;max-height:68px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.sponsors img.sponsor:hover{opacity:0.8;}
.fun-facts-wrapper{width:100%;position:relative;overflow:hidden;background-color:#2f3539;border-top:1px solid #393f43;margin:0 auto;padding:25px 0 30px 0;}
.fun-facts-box{float:left;width:19.99%;padding-top:15px;}
.fun-facts-title{font-size:15px;font-weight:400;color:#bbb;font-style:italic;}
.fun-facts-title span{font-size:28px;line-height:30px;font-weight:600;font-style:normal;color:#ddd;}
.fun-facts-box i{font-size:40px;line-height:60px;color:#3498db;}
.blockquote{border-left:3px solid #3498db;padding-left:15px;padding-bottom:3px;margin-bottom:30px;}
.testimonials_item{position:relative;z-index:100;margin:30px 0;padding-bottom:0;width:100%;}
.testimonials_box{background-color:#fff;box-shadow:1px 1px 2px rgba(0,0,0,0.1);padding:30px 30px;position:relative;z-index:100;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.testimonials_box .testimonials_arrow{background:none repeat scroll 0 0 #fff;border-right:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(0,0,0,0.1);display:block;width:12px;height:12px;left:60px;bottom:-6px;position:absolute;z-index:50;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);display:none\9;}
.testimonials_box p{margin:0;font-size:16px;line-height:26px;}
img.autor_pic{float:left;margin:15px 15px 0 25px;padding:4px 4px;background-color:#fff;width:80px;height:80px;-webkit-border-radius:44px 44px;-moz-border-radius:44px 44px;border-radius:44px 44px;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
p.autor{display:block;margin-top:36px;font-size:16px;line-height:20px;color:#fff;}
p.autor span{font-family:'Roboto', sans-serif;text-transform:uppercase;color:#fff;font-weight:500;font-size:16px;}
.testimonials_item2{position:relative;z-index:100;margin:10px 0 60px 0;padding-bottom:0;width:100%;}
.testimonials_box2{background-color:#fff;border:1px solid #f0f0f0;box-shadow:1px 1px 2px rgba(0,0,0,0.1);padding:30px 30px;position:relative;z-index:100;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.testimonials_box2 .testimonials_arrow{background:none repeat scroll 0 0 #fff;border-right:1px solid #cecece;border-bottom:1px solid #cecece;display:block;width:12px;height:12px;left:60px;bottom:-6px;position:absolute;z-index:50;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);display:none\9;}
.testimonials_box2 p{margin:0;font-size:16px;line-height:26px;}
img.autor_pic_second{float:left;margin:15px 15px 0 25px;padding:4px 4px;background-color:#fff;border:1px solid #dedede;width:80px;height:80px;-webkit-border-radius:44px 44px;-moz-border-radius:44px 44px;border-radius:44px 44px;}
p.autor_second{display:block;margin-top:36px;font-size:16px;line-height:20px;color:#757575;}
p.autor_second span{font-family:'Roboto', sans-serif;text-transform:uppercase;color:#454545;font-weight:500;font-size:17px;}
.section-testimonials{position:relative;background-color:#3498db;padding:60px 0;}
.testimonials-wrapper2{position:relative;max-width:960px;}
.testimonials-info{display:inline-block;padding:10px 40px 10px 0;border-right:1px solid #fff;}
.testimonials-info img{float:left;margin-right:20px;width:110px;height:110px;padding:5px 5px;background-color:transparent;border:1px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
p.author-name{float:left;margin:0;padding-top:30px;font-size:18px;line-height:26px;font-weight:700;color:#fff;text-transform:uppercase;font-family:'Roboto', sans-serif;}
p.author-name span{font-size:18px;font-weight:400;font-style:italic;text-transform:none;color:#fff;font-family:'Open Sans', sans-serif;}
p.testimonials-text{padding:20px 0 0 0;font-size:20px;line-height:32px;font-weight:400;color:#fff;}
ul.sidebar_categories{margin-bottom:30px;}
ul.sidebar_categories li a{color:#555;line-height:22px;}
ul.sidebar_categories li a:hover{color:#3498db;}
ul.tags{float:left;list-style:none;width:100%;margin-bottom:20px;}
ul.tags li{float:left;margin-bottom:10px;margin-right:5px;}
ul.tags li a{background-color:#fff;border:1px solid #e0e0e0;border-radius:2px 2px 2px 2px;color:#454545;font-size:12px;padding:6px 10px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
ul.tags li a:hover{background-color:#3498db;border:1px solid #3498db;color:#fff;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
.sidebar_posts{float:left;margin-bottom:20px;}
.sidebar_posts.last{margin-bottom:35px;}
.sidebar_posts a{font-size:14px;}
.sidebar_posts a:hover{color:#3498db;}
span.sidebar_post_date{color:#7c8595;font-style:italic;font-size:13px;display:block;padding-top:5px;}
.sidebar_posts img{width:70px;height:70px;float:left;margin-right:20px;}
.panel-icon{margin-right:5px;font-size:20px;vertical-align:middle;}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;font-weight:500;color:#454545;font-family:'Roboto', sans-serif;}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a{color:#656565;}
.panel-group .panel{margin-bottom:0;}
.panel-body{padding:20px 10px 10px 10px;}
.panel-heading{padding:8px 10px 16px 10px;border-top-left-radius:0;border-top-right-radius:0;}
.panel-default{border-color:transparent;}
.panel-default > .panel-heading{color:#959595;background-color:transparent;border:none;border-bottom:1px solid #e7e7e7;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border-top:3px solid #3498db;border-bottom:1px solid #e7e7e7;}
.progress-list{margin:0;padding:0;list-style:none;}
.progress-list p{margin-bottom:3px}
.progress-list li{margin-bottom:10px}
.progress-list li span{float:right}
.progress.plain{height:20px;margin-bottom:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background:none;border:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.progress.plain .bar{float:left;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);width:0;height:100%;font-size:12px;color:#ffffff;text-align:center;text-shadow:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#3498db !important;}
.progress.plain.bluebar .bar{background:#34b1c4 !important;}
.progress.plain.redbar .bar{background:#e74c3c !important;}
.progress.plain.greenbar .bar{background:#1abc9c !important;}
.progress.plain.yellowbar .bar{background:#f1c40f !important;}
.progress.plain.lylabar .bar{background:#9B59B6 !important;}
.bar-container{background:#f2f2f2 !important;border-bottom:0;line-height:1;}
.chart{display:inline-block;position:relative;width:150px;height:150px;}
.chart canvas{position:absolute;display:block;top:0;left:50%;margin-left:-75px;}
.chart span{color:#454545;font-size:34px;font-weight:500;line-height:150px;display:block;font-family:'Roboto', sans-serif;}
.chart span:after{content:'%';margin-left:0;font-size:40px;}
h5.chart-title{margin:25px 0 12px 0;}
.process-wrapper{border-top:1px solid #e8e8e8;text-align:center;}
.process-wrapper .process-inner{background:url('../images/process-line.png') no-repeat scroll center 120px;}
.process-wrapper .process-inner .process{display:inline-block;text-align:center;}
.process-wrapper .process-inner .process p.process-title{font-size:18px;font-weight:700;color:#454545;font-family:'Roboto', sans-serif;}
.process-wrapper .process-inner .process .process-circle{padding:15px;border-radius:100%;margin-bottom:20px;width:180px;height:180px;background-color:#fff;border:2px dashed #cecece;transition:all 300ms ease-in-out 0s;}
.process-wrapper .process-inner .process .process-circle .process-circle-icon{width:165px;height:165px;line-height:175px;border-radius:50%;background:#f4f6f7;margin:-10px;position:relative;}
.process-wrapper .process-inner .process .process-circle .process-circle-icon .process-description{position:absolute;font-size:14px;line-height:24px;color:#454545;text-align:center;width:100%;height:100%;top:0;padding-top:50px;opacity:0;transition:all 300ms ease-in-out 0s;}
.process-wrapper .process-inner .process .process-circle .process-circle-icon img{margin-top:-10px;display:inline-block;border-radius:50%;transition:all 300ms ease-in-out 0s;}
.process-wrapper .process-inner .process:hover .process-circle .process-circle-icon img{opacity:0.07;}
.process-wrapper .process-inner .process:hover .process-circle .process-circle-icon .process-description{opacity:1;}
@media (min-width:992px){.dropdown:hover > .dropdown-menu{display:block;-webkit-transition:all 0.15s ease-in;-moz-transition:all 0.15s ease-in;-ms-transition:all 0.15s ease-in;-o-transition:all 0.15s ease-in;transition:all 0.15s ease-in;}
}
@media (max-width:991px){.dropdown-menu{position:relative;top:100%;left:0;z-index:1000;float:left;min-width:200px;padding:0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:transparent;-webkit-background-clip:padding-box;background-clip:padding-box;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;}
.dropdown-menu .divider{display:none;}
.yamm .yamm-content{padding:0 25px;min-width:320px;}
.nav-title,
.nav-subtitle{display:none;}
.nav > li{text-align:left;}
.navbar-default .navbar-nav > li > a{line-height:28px;padding-top:8px;padding-bottom:8px;}
.navbar-nav > li > .dropdown-menu{margin-bottom:12px;}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown{position:relative;}
.dropdown-menu,
.dropdown-menu > li,
.dropdown-menu > li > a{width:100%;clear:both;}
.dropdown-menu > li > a{padding:6px 20px;}
.yamm .dropdown.yamm-fw .dropdown-menu{background:none;}
.navbar-default .navbar-nav > li > a.purchase{font-family:'Roboto', sans-serif;position:relative;color:#3498db;background-color:transparent;border:none;margin-left:15px;margin-right:0!important;margin-top:0;padding:0;font-size:16px;line-height:40px;font-weight:500!important;text-transform:none;webkit-border-radius:5px 5px;-moz-border-radius:5px 5px;border-radius:5px 5px;}
.navbar-default .navbar-nav > li > a.purchase:hover{color:#ffffff!important;background-color:#3498db!important;border:none;}
#navbar-collapse-02 .current a.purchase{color:#3498db!important;background-color:transparent!important;border:none;}
.pricing-bottom{padding:0 20px 40px 20px;}
.newsletter_box{text-align:center;}
.newsletter_info{padding:0;border-left:none;}
.newsletter_info h2{font-size:26px;}
.newsletter_info p{font-size:18px;line-height:28px;}
#newsletter-form #email_newsletter{width:90%;margin-bottom:10px;}
#newsletter-form #submit-button-newsletter{width:140px;height:56px;margin:0;}
.testimonials-info{border-right:none;padding:0;width:100%;}
p.testimonials-text{padding:10px 0 0 0;font-size:18px;line-height:28px;}
.process-wrapper .process-inner{background:none;}
}
@media handheld, only screen and (max-width:800px){.fun-facts-box{width:50%;}
.team-item{margin-bottom:30px;}
.wrapper-inner{max-width:none;padding:40px 0 80px 35px;}
.partners-item{padding:10px 0;border-right:none;border-bottom:none;}
.col-md-4.small-padding-right, .col-md-6.small-padding-right{padding-right:15px!important;}
}
@media (max-width:768px){.top-intro .details-wrapper{text-align:center!important;}
.top-intro{display:none;}
.hidden-nav-item{display:block!important;}
.navbar-nav > li.hidden-nav-item > .dropdown-menu{display:block!important;}
.hidden-nav-item > .dropdown-menu > li > a{display:block!important;}
}
table{table-layout:fixed;word-wrap:break-word;margin-top:auto;margin-bottom:auto;width:80%}
table th, table td{text-align:center;}
table tr{line-height:5px;min-height:5px;height:5x;}
td.pricing-td{overflow:hidden;text-align:center;}
.text-sm{font-size:14px;}
.price{font-size:1em;}
.panel-price-cell-text{margin-top:0;margin-bottom:0;font-size:16px;font-weight:500;color:#454545;font-family:'Roboto', sans-serif;}
td.left-td{text-align:left;padding:1px;vertical-align:middle;}
td.center-td{text-align:center;vertical-align:middle;}
.section-grey1{background-color:#f6f7f8;border-top:1px solid #eaeaea;padding:20px 0;padding-right:100px;padding-left:100px;}
.pricing-text{font-size:14px;padding:1px}
.pricing-plan-text{font-size:12px;padding:1px}
.pricing-text-dotted{font-size:14px;padding:1px;border-bottom:0.7px dotted #000;}
.faq-text{font-size:13px;padding:1px}
.strikeout{text-decoration:line-through;opacity:0.7;}
.section-white1{background-color:#fff;border-top:1px solid #eaeaea;padding:20px 0;}
.blog-item-inner1{display:inline-block;padding:1px 25px 20px 25px;background-color:#fff;border-bottom:2px solid #e0e0e0;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;transition:all .50s ease-in-out;-moz-transition:all .50s ease-in-out;-webkit-transition:all .50s ease-in-out;}
h3.blog-title{margin-top:15px;margin-bottom:10px;color:#3498db;}